.h2 {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    float: none;
    clear: both;
    display: inline-block;
  }
  .h2::before {
    content: "#";
    color: #c778dd;
  }
  
  .h2::after {
    content: "";
    display: block;
    width: 10vw;
    height: 1px;
    background-color: #c778dd;
    position: absolute;
    transform: translate(100%, -50%);
    right: -16px;
    top: 50%;
  }

@media (max-width : 700px){
  .section-heading{
    margin-left: 5%;
  }
}